<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upc.projects.enzoftware.eventour">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EventourApp"
        android:allowBackup="true"
        android:icon="@drawable/eventour"
        android:label="@string/app_name"
        android:roundIcon="@drawable/eventour"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="DATABASE" android:value="eventos5.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.upc.projects.enzoftware.eventour.model" />


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.OnBoardingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.EventActivity"
            android:label="@string/title_activity_event"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.upc.projects.enzoftware.eventour.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.OrganizerActivity"
            android:label="@string/title_activity_organizer"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.upc.projects.enzoftware.eventour.ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.LoginActivity" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.RecoverPasswordActivity"
            android:label="@string/title_activity_recover_password"
            android:parentActivityName=".ui.activities.LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.upc.projects.enzoftware.eventour.ui.activities.LoginActivity" />
        </activity>
    </application>

</manifest>